div.stations {
   border: 1px solid white;
   border-radius: 10px; 
   overflow: hidden
}

div.stations > div {
  padding: 10px 10px
}

div.stations > .selected {
   background-color: white;
   color: black;
  font-weight: bold;
}

span.icon-volume-down, span.icon-volume-up {
    padding: 10px;
}

progress[value] {
  -webkit-appearance: none;
  height: 10px;
  margin-bottom: 12px
}

progress[value]::-webkit-progress-bar {
  background-color: #000;
}

progress[value]::-webkit-progress-value {
  background-color: #fff;
  border-radius: 5px;
}